@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgb(196, 196, 196);
    --secondary-color: rgb(255, 255, 255);
}